@media (prefers-color-scheme: dark) {

  /* Remove once supported by firefox */
  @supports not (color-scheme: dark) {
    * {
      background-color: #121212;
      color: white;
    }

    a {
      color: rgb(158, 158, 255);
    }

    a:active {
      color: rgb(255, 158, 158);
    }
  }

  /* Remove once chromium browsers stop filling option background as white */
  option {
    color-scheme: dark;
    background-color: #333;
  }
}
