:root {
  --surface-1-h: var(--gray-0-h);
  --surface-1-s: var(--gray-0-s);
  --surface-1-l: var(--gray-0-l);
  --surface-1-hsl: var(--surface-1-h) var(--surface-1-s) var(--surface-1-l);
  --surface-1: hsl(var(--surface-1-hsl));
  --surface-1-l-contrast: 0.3;

  --surface-2: hsl(var(--gray-3-hsl));

  --text-1: hsl(var(--gray-9-hsl));
  --text-2: hsl(var(--gray-7-hsl));
}

html {
  background-color: var(--surface-1);
  color: var(--text-1);
}

html,
body {
  height: 100%;
}

#__next {
  min-height: 100%;
}

button,
input,
select,
textarea,
option {
  background-color: hsl(
    var(--surface-1-h),
    var(--surface-1-s),
    calc(var(--surface-1-l) + var(--surface-1-l) * var(--surface-1-l-contrast))
  );
}

h1,
h2,
h3 {
  color: var(--text-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-1-h: var(--gray-9-h);
    --surface-1-s: var(--gray-9-s);
    --surface-1-l: var(--gray-9-l);
    --surface-1-l-contrast: -0.3;

    --surface-2: hsl(var(--gray-8-hsl));

    --text-1: hsl(var(--gray-0-hsl));
    --text-2: hsl(var(--gray-4-hsl));
  }

  a {
    color: rgb(158, 158, 255);
  }

  a:active {
    color: rgb(255, 158, 158);
  }
}
