.row-gap {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.block-label {
  display: block;
}

.input-text {
  width: 100%;
  min-height: 10rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
